body{
    height: 100%;
    font-family: 'Saira Semi Condensed', sans-serif;
}

#displayToolPanel{
    margin-top:20px;
    border: solid 1px #e0e0e0;
    height:100vh;
    text-align:center; 
    margin-bottom: 20px;
}

#displayToolForm{
    text-align: center;
    margin-top: 20px;
}

.help-block{
    font-size: 12px;
}

#inputContent{
    resize:vertical;
    overflow-y:scroll;
}

#btnParse{
    width: 100%;
}

#btnParse:hover{
    background-color: white;
}